@import "./global";

// ===== Header ===== //

.header {
  width: 100%;
}

// === Navbar === //

.navbar {
  width: 100%;
  padding: 25px 150px;
  @include daj();
  background-color: $bgGlobal;
  box-shadow: 0 0 10px $boxShadow;
  position: sticky;
  top: 0;
  z-index: 100;
  .logo {
    width: 10%;
    img {
      width: 100%;
    }
  }
  .menu {
    width: 30%;
    @include daj();
    .list_items {
      border-bottom: 2px solid $bgGlobal;
      transition: $transitionGlobal;
      .item_links {
        font-weight: 400;
        font-size: $fontSize18;
        letter-spacing: 0.7px;
        color: $textGlobal;
        margin-bottom: 2px;
        transition: $transitionGlobal;
      }
      &:hover {
        border-color: $btnHover;
        .item_links {
          color: $btnHover;
        }
      }
    }
  }
  .btn {
    @include btnGlobal();
  }
}

// === header block === //

.header_block {
  width: 100%;
  padding: 100px 150px 50px 150px;
  @include daj();
  .head_texts {
    width: 50%;
    @include dcs();
    h3 {
      font-weight: 600;
      font-size: $fontSize24;
      letter-spacing: 0.7px;
      color: $textGlobal;
    }
    h1 {
      font-weight: 700;
      font-size: $fontSize80;
      letter-spacing: 0.7px;
      color: $textGlobal;
    }
    .btn {
      @include btnGlobal();
      margin-top: 50px;
    }
    .members {
      width: 50%;
      @include daj();
      margin-top: 50px;
      .member_box {
        text-align: center;
        h4 {
          font-weight: 600;
          font-size: $fontSize30;
          letter-spacing: 0.7px;
          color: $textGlobal;
        }
        p {
          font-weight: 400;
          font-size: $fontSize16;
          letter-spacing: 0.7px;
          color: $opacityColor;
          margin-top: 10px;
        }
      }
    }
  }
  .head_img {
    width: 45%;
    @include dcc();
    img {
      width: 100%;
    }
  }
}

// === catagories === //

.categories {
  width: 100%;
  padding: 50px 150px;
  h3 {
    font-weight: 600;
    font-size: $fontSize30;
    color: $textGlobal;
    letter-spacing: 0.7px;
    margin-bottom: 50px;
  }
  .cate_slider {
    width: 100%;
    user-select: none;
    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px;
      cursor: pointer;
      margin-bottom: 50px;
      background-color: $bgColor;
      border-radius: $borderRadiusOne;
      transition: $transitionGlobal;
      img {
        width: 100%;
      }
      b {
        font-weight: 600;
        font-size: $fontSize24;
        letter-spacing: 0.7px;
        color: $textGlobal;
        margin-top: 40px;
        margin-bottom: 30px;
      }
    }
  }
}

// === collections === //

.collections {
  width: 100%;
  padding: 50px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bgColoor;
  .coll_title {
    width: 100%;
    @include daj();
    margin-bottom: 50px;
    h3 {
      font-weight: 600;
      font-size: $fontSize30;
      color: $textGlobal;
      letter-spacing: 0.7px;
    }
    .day_btn {
      display: flex;
      align-items: center;
      // padding: 5px;
      border-radius: $borderRadiusTwo;
      background-color: $bgColor;
      h6 {
        font-weight: 400;
        font-size: $fontSize16;
        letter-spacing: 0.7px;
        color: $textGlobal;
        background-color: $bgColoor;
        margin: 5px;
        border-radius: $borderRadiusTwo;
        padding: 20px 50px;
        cursor: pointer;
        transition: $transitionGlobal;
        &:nth-child(2) {
          background: transparent;
          &:hover {
            background-color: $bgColoor;
          }
        }
      }
    }
  }
  .coll_cards {
    width: 100%;
    @include daj();
    margin-bottom: 25px;
    .card_box {
      width: 32%;
      @include daj();
      padding: 10px;
      gap: 15px;
      border-radius: $borderRadiusTwo;
      background-color: $bgColor;
      img {
        width: 20%;
      }
      .texts {
        width: 80%;
        @include daj();
        .text_one {
          @include dcs();
          b {
            font-weight: 500;
            font-size: $fontSize24;
            letter-spacing: 0.7px;
            color: $textGlobal;
          }
          small {
            font-weight: 400;
            font-size: $fontSize16;
            letter-spacing: 0.7px;
            color: $opacityColor;
          }
        }
        .text_two {
          @include dcs();
          small {
            font-weight: 400;
            font-size: $fontSize14;
            letter-spacing: 0.7px;
            &:nth-child(1) {
              color: $textGlobal;
            }
            &:nth-child(2) {
              color: $opacityColor;
            }
            &:nth-child(3) {
              color: $btnColor;
              font-size: $fontSize12;
            }
          }
        }
      }
    }
  }
  .btn {
    @include btnGlobal();
    margin-top: 25px;
  }
}
